// import the CSS framework
.dl-opening-hours{
  dt{
    width: 100px !important;
  }
  dd{
    margin-left: 110px !important;
  }
}

h1.interest-name{
  margin-top: 0 !important;
}

h6.blog-title{
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}

.blog-sidebar{
  #vmap{
    height: 320px;
    // svg{
    //   top: -36px;
    //   position: absolute;
    //   right: 18px;
    //   width: 266px;
    //   height: 600px;
    // }
  }
}
